* {
  margin-left: 4rem;
}

header {
  font-family: 'WindSong', cursive;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 4rem;

}

.introduction-writing-one {
  font-family: 'Lexend', sans-serif;
  line-height: 1.4rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  width: 40vw;
}

.introduction-writing-two {
  font-family: 'Lexend', sans-serif;
  line-height: 1.4rem;
}

#piece-one {
  height: 30rem;
}
