* {
  margin-left: 4rem;
}

header {
  font-family: 'WindSong', cursive;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
}

.introduction-writing-one {
  font-family: 'Lexend', sans-serif;
  line-height: 1.4rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  width: 40vw;
}

.introduction-writing-two {
  font-family: 'Lexend', sans-serif;
  line-height: 1.4rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  width: 550px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(15,5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--4 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--7 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--8 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 15;
}

.gallery__item--9 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 11;
}

.gallery__item--10 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 11;
}

.gallery__item--11 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 11;
}

.gallery__item--12 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 15;
}

.gallery__item--13 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 15;
}

.gallery__item--14 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 15;
}

.gallery__item--15 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 11;
  grid-row-end: 15;
}
