* {
  margin-left: 4rem;
  font-weight: 300;
}

.header {
  font-family: 'WindSong', cursive;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  text-decoration: none;
}

.introduction-writing-one {
  font-family: 'Lexend', sans-serif;
  line-height: 1.4rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  width: 40vw;
  font-weight: 500;
  font-size: 1.15rem;
}

.introduction-writing-two {
  font-family: 'Lexend', sans-serif;
  line-height: 1.4rem;
  margin-left: 4rem;
  margin-bottom: 5rem;
  width: 550px;
  font-weight: 300;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(15,5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--4 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--7 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--8 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 15;
}

.gallery__item--9 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 11;
}

.gallery__item--10 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 11;
}

.gallery__item--11 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 11;
}

.gallery__item--12 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 15;
}

.gallery__item--13 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 15;
}

.gallery__item--14 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 15;
}

.gallery__item--15 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 11;
  grid-row-end: 15;
}

.about-menu {
  text-align: right;
  float: right;
  margin-right: 3rem;
  font-family: 'Lexend', sans-serif;
}

.about-menu:hover {
  text-decoration: underline;
}

.contact-menu {
  text-align: right;
  float: right;
  margin-right: 3.1rem;
  font-family: 'Lexend', sans-serif;
}

.contact-menu:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100vw;
  background-color: #D6EFFF;
  font-family: 'Lexend', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;

}

li{
  list-style-type: none;
  font-size: 1rem;
  font-family: 'Lexend', sans-serif;
}

nav > ul > li > a:hover {
  background-color: #C6E9FF;
  height: 1rem;
}

#navigation-bar {
  float: right;

}

.content {
  font-family: 'Lexend', sans-serif;
  margin-left: 4rem;
  font-weight: 300;
}

.piece-writing {
  width: 40vw;
  margin-bottom: 2rem;
  line-height: 1.4rem;
}

.piece-title {
  font-weight: 500;
  line-height: 1.4rem;
  font-size: 1.15rem;
}

.image-pictures {
  height: 55rem;
  margin-left: 0;
  margin: auto;
  display: block;
}
